.pageDivision{
  height:100vh;
  background-color:lightblue;
}

.landingTitles{
  height:5vh;
  width:100%;
  background-color:lightpink;
}

.landingBody{
  background-color:lightgreen;
  width:auto;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}


.landingVideo{
  height:70vh;
  width:90vw;
  background-color:red;
}

.stepBody{
  width:90vw;
  height:90vh;
  background-color:lightseagreen;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stepContainer{
  height:3rem;
  width: 90%;;
  background-color:lightblue;
  margin-top:4rem;
}

.testimonial{
 background-color:lightpink;
 height:70vh;
 width:40vw;
}

#one{
  background-color:lightblue;
}

#two{
  background-color:lightgrey;

}

#three{
  background-color:lightblue;
  display:flex;
  align-items: center;
  justify-content: center;
}

#four{
  background-color:lightgrey;
}

#five{
  background-color:lightblue;
}

#six{
  background-color:lightgrey;
}

#testimonialBody{
  display: flex;
  justify-content: space-around;
  align-items: center;
}